Repository pygame-community/pygame-geometry, pull requests merged in 2022-09, with the labels that each got.

#60 Add line.is_parallel()
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#54 Add diameter attribute to circle
  benchmarks/GEOMETRY_circle_benchmark.py
  geometry.pyi
  src_c/circle.c
  test/test_circle.py
Labels: type:new_api, submodule:circle, type:unittests

#50 implemented `Line.move` & `Line.move_ip`
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line, type:unittests

#53 Update move(), move_ip() to be same with the line implementation
  src_c/circle.c
Labels: type:enhancement, submodule:circle, type:partial_rewrite

#74 Support black color in `get_new_circle_surf`
  examples/circle_test.py
Labels: type:bugfix, lang:python

#72 deleted old unsupported python implementations.
  benchmarks/PYTHON_circle_benchmark.py
  docs/circle.rst
  docs/geometry.rst
  docs/line.md
  docs/line.rst
  docs/polygon.rst
  examples/circle_test.py
  examples/circle_test_single.py
  shapes/circle.py
  shapes/line.py
  shapes/raycast.py
  shapes/shape.py
  utility_functions.py
Labels: type:cleanup, type:rewrite, lang:python

#70 Add line.is_perpendicular()
  benchmarks/GEOMETRY_line_benchmark.py
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#80 Fix breaking line bug
  src_c/line.c
Labels: type:bugfix

#77 add Line.slope
  src_c/line.c
  test/test_line.py
Labels: type:enhancement, type:new_api, submodule:line, lang:c

#63 Add another circle constructor
  geometry.pyi
  src_c/circle.c
  test/test_circle.py
Labels: type:enhancement, submodule:circle, lang:c, lang:python

#83 line.length attribute.
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#97 Disallow degenerate line creation
  src_c/line.c
  test/test_line.py
Labels: priority:critical, type:bugfix, type:partial_rewrite

#84 Add new functions for safe and fast tuple generation
  src_c/circle.c
  src_c/include/base.h
  src_c/line.c
  src_c/polygon.c
Labels: type:performance, type:new_api, priority:critical, submodule:line, type:cleanup, type:partial_rewrite, lang:c

#92 Added center attribute & move()/move_ip()
  src_c/include/geometry.h
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon

#93 improved `setup.py`
  setup.py
Labels: lang:python

#73 implemented `geometry.regular_polygon`
  geometry.pyi
  src_c/geometry.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon, dont-merge

#85 Reorganized benchmarks
  benchmarks/GEOMETRY_circle_benchmark.py
  benchmarks/GEOMETRY_line_benchmark.py
  benchmarks/benchmark_utils.py
Labels: type:cleanup, type:partial_rewrite

#100 Remade PyObject->double conversion functions
  src_c/include/base.h
Labels: type:performance, type:rewrite

#98 line.collideswith() + tests
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#90 Subscriptable Polygons
  examples/polygon_subscript.py
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon
