Repository pygame-community/pygame-geometry, pull requests merged in 2022-10, with the labels that each got.

#101 Given pgCollision_LinePoint a "width"
  src_c/collisions.c
Labels: type:bugfix, type:partial_rewrite, submodule:collisions, priority:high

#114 New polygon creation method
  benchmarks/GEOMETRY_polygon_benchmark.py
  src_c/polygon.c
Labels: type:enhancement, type:performance, submodule:polygon

#119 Fixed line, circle, polygon memory leaks
  src_c/circle.c
  src_c/line.c
  src_c/polygon.c
  test/test_circle.py
  test/test_line.py
  test/test_polygon.py
Labels: priority:critical, type:bugfix, type:MEMORYLEAK

#123 Disallowed degenerate(radius=0) circles + better error messages
  src_c/circle.c
  test/test_circle.py
Labels: type:enhancement, type:bugfix, type:partial_rewrite, priority:high

#105 Line.angle attribute
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#112 New implementation of regular_polygon.py
  examples/regular_polygon.py
Labels: lang:python, type:examples

#129 geometry.regular_polygon() optimization
  src_c/geometry.c
  test/test_polygon.py
Labels: type:performance, submodule:geometry, type:partial_rewrite

#128 Implemented Polygon.collidepoint()
  geometry.pyi
  src_c/collisions.c
  src_c/include/collisions.h
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon

#135 Added pg_TwoDoublesFromFastcallArgs and swapped all duplicates
  src_c/circle.c
  src_c/include/base.h
  src_c/line.c
  src_c/polygon.c
Labels: type:enhancement, type:partial_rewrite

#113 Added move, move_ip, type stubs, renamed params
  geometry.pyi
Labels: type:documentation, type:cleanup, priority:high

#126 Line.raycast() to raycast() relocation
  examples/raycast.py
  geometry.pyi
  src_c/collisions.c
  src_c/geometry.c
  src_c/include/collisions.h
  src_c/line.c
  src_c/simd_collisions.h
  src_c/simd_collisions_avx2.c
  test/test_line.py
  test/test_raycast.py
Labels: submodule:geometry, type:cleanup, type:partial_rewrite, lang:c, dont-merge, priority:RELEASEBLOCKER

#104 implemented line.midpoint, line.midpoint_x, line.midpoint_y attributes
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line
