Repository pygame-community/pygame-geometry, pull requests merged in 2022-11, with the labels that each got.

#110 Polygon.perimeter
  geometry.pyi
  src_c/geometry.c
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon

#146 Added Line and Polygon docs base
  docs/line.rst
  docs/polygon.rst
Labels: type:documentation, submodule:line, submodule:polygon

#147 Added all docs (base)
  docs/circle.rst
  docs/geometry.rst
  docs/line.rst
  docs/polygon.rst
Labels: type:documentation

#134 Polygon.rotate() & Polygon.rotate_ip() - Remake -
  benchmarks/GEOMETRY_polygon_benchmark.py
  geometry.pyi
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon
