Repository pygame-community/pygame-geometry, pull requests merged in 2022-08, with the labels that each got.

#3 Added .clang-format config. file and reformatted all .c/.h files
  src_c/.clang-format
  src_c/.editorconfig
  src_c/Include/base.h
  src_c/Include/circle.h
  src_c/Include/line.h
  src_c/Include/pygame.h
  src_c/circle.c
  src_c/geometry.c
  src_c/line.c
Labels: code cleanup

#4 Circle init fix
  src_c/circle.c
Labels: critical, Submodule: circle, BugFix

#6 C: added fastcall implementations for `Line` and seperated the collisions
  setup.py
  src_c/Include/collisions.h
  src_c/Include/pygame.h
  src_c/collisions.c
  src_c/geometry.c
  src_c/line.c
Labels: Submodule: geometry, code cleanup, partial rewrite

#8 Add Circle unit tests, added to .pyi and other
  geometry.pyi
  src_c/Include/circle.h
  src_c/Include/collisions.h
  src_c/circle.c
  unittests/circle_test.py
Labels: Submodule: geometry, Submodule: circle, code cleanup, BugFix, UnitTests

#11 as_frect() added
  geometry.pyi
  src_c/line.c
Labels: NEW API, Submodule: line

#13 Refactored src_c/Include to src_include
  src_c/include/base.h
  src_c/include/collisions.h
  src_c/include/geometry.h
  src_c/include/pygame.h
Labels: code cleanup, BugFix

#12 Cleanup & tests
  examples/circle_test.py
  examples/circle_test_single.py
  examples/raycast_test.py
  test/__init__.py
  test/circle_test.py
  test/test_line.py
Labels: code cleanup, UnitTests

#18 renamed circle_test.py to test_circle.py
  test/test_circle.py
Labels: code cleanup

#19 Added collidecircle, collideline, collidepoint functions
  geometry.pyi
  src_c/circle.c
  src_c/collisions.c
  test/test_circle.py
Labels: NEW API, Submodule: circle, UnitTests, Submodule: collisions

#17 instead of doing one per call we do multiple per Line.raycast call
  examples/raycast_test.py
  geometry.pyi
  setup.py
  src_c/collisions.c
  src_c/geometry.c
  src_c/include/pygame.h
  src_c/line.c
Labels: NEW API, needs-tests, Submodule: geometry, Submodule: line, rewrite

#21 Gave python code a lint pass with black . command
  benchmarks/benchmark_utils.py
  benchmarks/circle_benchmark.py
  examples/circle_test.py
  examples/circle_test_single.py
  examples/raycast_test.py
  geometry.pyi
  setup.py
  shapes/circle.py
  shapes/line.py
  shapes/raycast.py
  shapes/shape.py
  test/test_circle.py
Labels: code cleanup, Linting

#25 Updated GH workflow names to reflect OS name
  .github/workflows/ubuntu_test.yml
  .github/workflows/windows_test.yml
Labels: Github actions

#26 added static checker in gh actions
  .github/workflows/cppcheck.yml
Labels: Github actions

#27 Fixed pgCircle_FromObjectFastcall
  src_c/circle.c
Labels: critical, BugFix

#24 Added as_rect(), update() functions to Circle
  geometry.pyi
  src_c/circle.c
Labels: NEW API, Submodule: circle

#28 fixed `pgLine_FromObject`
  src_c/line.c
Labels: Performance, code cleanup, BugFix

#31 `Line.as_rect` returns now pygame.Rect
  geometry.pyi
  src_c/circle.c
  src_c/line.c
  test/test_line.py
Labels: Submodule: line, rewrite

#33 added more tests for the Line class
  src_c/line.c
  test/test_line.py
Labels: Submodule: line, partial rewrite, UnitTests

#34 Updated circle class and benchmark.
  benchmarks/GEOMETRY_circle_benchmark.py
  benchmarks/PYTHON_circle_benchmark.py
  benchmarks/benchmark_utils.py
  benchmarks/circle_benchmark.py
  shapes/circle.py
  shapes/shape.py
Labels: code cleanup, rewrite, Python code

#36 Add line benchmark
  benchmarks/GEOMETRY_line_benchmark.py
Labels: Performance, Python code

#37 implement Line.raycast to be able to handle circles
  examples/raycast.py
  geometry.pyi
  src_c/collisions.c
  src_c/include/collisions.h
  src_c/line.c
  test/test_line.py
Labels: NEW API, Submodule: line, partial rewrite

#32 Add colliderect(), collideswith() to circle
  geometry.pyi
  src_c/circle.c
  src_c/collisions.c
  src_c/include/collisions.h
  test/test_circle.py
Labels: NEW API, Submodule: circle, UnitTests

#38 Added center, area and circumference attributes.
  geometry.pyi
  src_c/circle.c
  test/test_circle.py
Labels: NEW API, Submodule: circle

#40 improved `Line.raycast` to be able to collide with `pygame.Rect`s
  examples/raycast.py
  src_c/circle.c
  src_c/collisions.c
  src_c/include/collisions.h
  src_c/include/geometry.h
  src_c/line.c
Labels: NEW API, needs-tests, Submodule: line, Submodule: collisions

#39 Remade TestSuite and TestGroup classes.
  benchmarks/GEOMETRY_circle_benchmark.py
  benchmarks/GEOMETRY_line_benchmark.py
  benchmarks/PYTHON_circle_benchmark.py
  benchmarks/benchmark_utils.py
  requirements.txt
Labels: Performance, rewrite, Python code

#41 Added move and move_ip to circle
  geometry.pyi
  src_c/circle.c
  test/test_circle.py
Labels: NEW API, Submodule: circle, UnitTests

#42 created SIMD version of line-rect intersection
  setup.py
  src_c/collisions.c
Labels: Performance, Submodule: line, partial rewrite, Submodule: collisions, SIMD

#48 Implemented base of polygon module
  benchmarks/GEOMETRY_polygon_benchmark.py
  geometry.pyi
  src_c/geometry.c
  src_c/include/geometry.h
  src_c/polygon.c
  test/test_polygon.py
Labels: NEW API, Submodule: polygon, UnitTests

#44 Add line support to collideswith
  benchmarks/GEOMETRY_circle_benchmark.py
  src_c/circle.c
  test/test_circle.py
Labels: submodule:circle, type:bugfix, type:unittests
