Repository pygame-community/pygame-geometry, pull requests merged in 2023-05, with the labels that each got.

#168 Polygon `as_segments()`
  docs/polygon.rst
  geometry.pyi
  src_c/geometry.c
  src_c/polygon.c
  test/test_polygon.py
Labels: type:new_api, submodule:polygon

#170 Line `scale()/scale_ip()`
  docs/line.rst
  geometry.pyi
  src_c/line.c
  test/test_line.py
Labels: type:new_api, submodule:line

#208 Add some missing docs to geometry.rst
  docs/geometry.rst
Labels: type:documentation

#196 Polygon rotate around an arbitrary point
  docs/polygon.rst
  geometry.pyi
  src_c/polygon.c
  test/test_polygon.py
Labels: submodule:polygon, type:partial_rewrite
