Repository pygame-community/pygame-geometry, pull requests merged in 2024-05, with the labels that each got.

#204 created Polygon.area attribute
  docs/geometry.rst
  geometry.pyi
  src_c/polygon.c
  test/test_geometry.py
Labels: submodule:polygon

#233 Update CI
  .github/workflows/macos_test.yml
  .github/workflows/ubuntu_test.yml
  .github/workflows/windows_test.yml
  CONTRIBUTING.md
  README.md
Labels: involves:github_actions

#234 added --fix-missing to ubuntu CI
  .github/workflows/ubuntu_test.yml
Labels: involves:github_actions

#219 Circle `collidelist() / collidelistall()`
  docs/circle.rst
  docs/geometry.rst
  geometry.pyi
  src_c/circle.c
  test/test_circle.py
Labels: type:new_api, submodule:circle, submodule:collisions
